node_modules
.next
out
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*
__pycache__
*.pyc
tmp/
*.zip
data_2/
check_api_gemini.ipynb
data/raw/vbpl_filter_progress.json
data/processed/vbpl_grantpilot_slice.jsonl
